{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert--{{ label }}">
            {{ message.message|default(message)|trans(message.parameters|default({}), flash_translation_domain|default('flash')) }}
        </div>
    {% endfor %}
{% endfor %}
