<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title '' %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
    {% block body %}
        {% block header %}
            <header class="header">
                {% block logo_link %}
                    <a href="/" class="logo">
                        {% block logo 'LOGO' %}
                    </a>
                {% endblock %}
                {% include '@ElaoAdminTheme/layout/nav_primary.html.twig' with { menu: menu_primary|default([]) } %}
                {% include '@ElaoAdminTheme/layout/nav_user.html.twig' with { user: app.user } %}
                <button class="menu-button"></button>
            </header>
        {% endblock %}
        {% include '@ElaoAdminTheme/layout/nav_mobile.html.twig' with { menu: menu_mobile|default([]) } %}
        {% block main %}
            <main>
                {% if menu_secondary is defined %}
                    {% include '@ElaoAdminTheme/layout/nav_secondary.html.twig' with { menu: menu_secondary } %}
                {% endif %}
                {% block content %}
                    <div class="content">
                        {% include '@ElaoAdminTheme/components/flash.html.twig' %}
                        {% if menu_tertiary is defined %}
                            {% include '@ElaoAdminTheme/layout/nav_secondary.html.twig' with { menu: menu_tertiary } %}
                        {% endif %}
                        {% block page_content %}
                            <div class="container"></div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </main>
        {% endblock %}
    {% endblock %}
</body>
</html>
