{% use "@ElaoAdminTheme/layout/menu_item.html.twig" %}

{% block nav_primary %}
    <nav class="primary-nav">
        <ul>
            {% set item_class = 'primary-nav__item' %}
            {% set item_active_class = 'primary-nav__item--active' %}
            {% for item in menu|filter(item => item is accessible) %}
                {{ block('menu_item') }}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
